{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'wifi/style.css' %}">
{% endblock %}

{% block navbar %}
    <nav id="navbar">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Wifi Management</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'wifi:index' %}">View all records</a></li>
                <li><a href="{% url 'wifi:about' %}">About this app</a></li>
                <li><a href="{% url 'wifi:new' %}" class="btn waves-effect">Add New Wifi</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
        <div class="nav-wrapper">
            <a href="{% url 'index' %}">&laquo; Back to Projects</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div id="content">
        <header>
            <h1>Wifi List</h1>
        </header>        

        <main id="body">
            <table width="100%" cellpadding="0" cellspacing="0" class="striped project-list">
                <thead>
                    <tr>
                        <th scope="col">SSID</th>
                        <th scope="col">Password</th>
                        <th scope="col">Establishment</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="{% url 'wifi:index' %}">Wifi Manager</a></td>
                        <td class="active">Yes</td>
                        <td>Log of all Wifi you've ever used</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>

{% endblock %}