{% extends 'wifi/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'wifi/style.css' %}">
{% endblock %}


{% block content %}
    
    <div id="content">
        
        <header>
            <h1>New Wifi</h1>
        </header>        

        <main id="body" class="form">

            <form action="{% url 'wifi:new' %}" method="post">
                {% csrf_token %}
                <ul class="nolist">
                    <li>
                        <div class="input-field field-wrapper">
                            {{ form.title.errors }}
                            {{ form.title }}
                            <label for="{{ form.title.id_for_label }}">Title</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field field-wrapper">
                            {{ form.ssid.errors }}
                            {{ form.ssid }}
                            <label for="{{ form.ssid.id_for_label }}">SSID</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field field-wrapper">
                            {{ form.password.errors }}
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field field-wrapper">
                            {{ form.notes.errors }}
                            {% render_field form.notes %}
                            <label for="{{ form.notes.id_for_label }}">Notes</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-field field-wrapper">
                            {{ form.is_hacked.errors }}
                            <label for="{{ form.is_hacked.id_for_label }}">
                                {% render_field form.is_hacked class="filled-in" %}
                                <span>Peeked</span>
                            </label>
                        </div>
                    </li>
                </ul>

                <div class="submit right-align"><input type="submit" value="Add Wifi" class="btn waves-effect" /></div>
            </form>

        </main>

    </div>

{% endblock %}