
@import "materialize";



table.project-list {
    tr {
        td:first-child {font-weight:bold;}
        &.inactive {background:pink;}
    }
}

#breadcrumbs, #wrapper {
    a:hover {text-decoration:underline;}
}

#breadcrumbs {background:#efefef; padding:10px;}

#wrapper {width:1000px; margin:0 auto; min-height:800px;
    #body {
        &.form {width:500px; margin:0 auto;}
    }
}

#footer {
    .top {}

    .bottom {background:#555; color:#FFF; padding:10px;}

    #copyright {font-size:9px; text-align:center;}
}