{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ page_title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    {% block style %}{% endblock %}
    
</head>
<body>

    <div>
        {% block navbar %}
            <nav id="navbar">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Tengu Tower</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="about.html">About this project</a></li>
                        <li><a href="addproject.html" class="btn waves-effect">Add Project</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>


    {% block breadcrumbs %}{% endblock %}

    <div id="wrapper">
        {% block content %}
            <p>Your data goes here</p>
        {% endblock %}
    </div>

    <footer id="footer">
        <div class="top">
            {% block footer %}
                Footer here
            {% endblock %}
        </div>
        <div class="bottom">
            <div id="copyright">
                Copyright {% now "Y" %}. All Rights Reserved
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>

</body>
</html>