{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="content">
        
        <header>
            <h1>Projects</h1>
        </header>        

        <main id="body">
            

            <table width="100%" cellpadding="0" cellspacing="0" class="striped project-list">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Active</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="{% url 'wifi:index' %}">Wifi Manager</a></td>
                        <td class="active">Yes</td>
                        <td>Log of all wifi networks you've ever used</td>
                    </tr>
                    <tr>
                        <td>DVD</td>
                        <td class="active">No</td>
                        <td>Find which DVD each movie is in</td>
                    </tr>
                    <tr>
                        <td>Random Notes</td>
                        <td class="active">No</td>
                        <td>Just random note taking</td>
                    </tr>
                    <tr>
                        <td>Scanned Image Uploader</td>
                        <td class="active">No</td>
                        <td>Collate all your scanned images and tag them</td>
                    </tr>
                    <tr>
                        <td>Pobear</td>
                        <td class="active">No</td>
                        <td>Management of all your POs</td>
                    </tr>
                </tbody>

            </table>

        </main>

    </div>

{% endblock %}